<!DOCTYPE html>
<html lang="ru-RU" >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{title}}</title>
	<meta name="keywords" content="{{keywords}},ремонт компьютеров, в москве,в московской области, дёшево, выезд на дом, антивирус, установка windows, установка драйверов" />
	<meta name="description" content="{{description}}, бесплатный вызов низкие цены и никаких скрытых условий." />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/app.css" type="text/css" media="screen" />
	<script type="text/javascript" src="/js/jquery-1.2.6.js"></script>
	<script type="text/javascript" src="/js/left.js"></script>
</head>
<body>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-79491876-1', 'auto');
		ga('send', 'pageview');
	</script>


	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter37980165 = new Ya.Metrika({
						id:37980165,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/37980165" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


<div class="block-box"></div>
	<div class="call-box">
		<span class="title">Звони! Узнай точную цену!</span>
		<span class="phone">+7 (985) 401-47-14</span>
		<span class="title">Я частный мастер и работаю СБ-ВС!</span>
		<form action="/sendact" method="post" novalidate="novalidate">
			<input type="text" id="phone" name="your-tel" value="" size="40" class="form-send inputcall" aria-required="true" aria-invalid="false" />
			<input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit form-send" />
		</form>
	</div>
	<div class="papirus-box">
		<span class="textx"><p>Мы уверены что вы не пожалеете если воспользуетесь нашим сервисом!</p>
		<p>Дешевле вы нигде не найдете</p>
		<p>Отказываетесь от нас ?<br> Мы не против :)<br> <br>Но когда вам выпишут чек<br>на сумму <b style="color:#F71515">6 000-12 000т.р.</b>
		<br>Вспомните о нас!!</p>
		</span>
	</div>



	<div class="main">
		<header>
			<div class="logo">
				<a href="#">
					<img src="/images/favicon.png" style="width: 75px;" >
					<strong>
						<div class="company-name">Ремонт компьютеров в Москве и MO</div>
						<span class="slogan">«Только частные мастера!»</span>
					</strong>
				</a>
			</div>

			<div class="phone">
				<span class="in">
					<div class="img"></div>
					<strong>
						<em>
							<div><a href="tel:+7 (985) 401-47-14">+7 (985) 401-47-14</a></div>
						</em>
					</strong>
				</span>
			</div>

		</header>

		<nav>
			<div>
				<ul>
					<li><a class="{{index}}" href="/">Главная</a></li>
					<li><a class="{{onas}}" href="/onas/">О нас</a></li>
					<li><a class="{{uslugi}}" href="/uslugi/">Услуги</a></li>
					<li><a class="{{price}}" href="/prajs/">Цены</a></li>
					<li><a class="{{kontakty}}" href="/kontakty/">Контакты</a></li>
				</ul>
			</div>
		</nav>
		<article class="block">
			{{{body}}}
		</article>


		<footer id="contacts" class="footer">
			<div class="in">
				<div class="right">
					<div class="contacts">
						<div class="title">Контакты</div>
						<div class="contacts__inner">
							Email: <b>systemmxmedias@gmail.com</b></p>
							Телефон: <b>+7 (985) 401-47-14</b><br>
						</div>
						{{#if xx}}
						<a href="/map" title="Посмотреть на карте" class="map" style="margin-top: 15px;">На карте</a>          <br>
						<div class="title">Мы в сети:</div>
						<a href="http://vk.com"  class="icon-vk" target="_blank" title="Мы ВКонтакте"></a> 
						<a href="http://facebook.com" class="icon-fb" target="_blank" title="Мы на Facebook"></a> 
						<a href="http://twitter.com" class="icon-tw" target="_blank" title="Мы в Twitter"></a> 
						<a href="http://odnoklassniki.ru"  class="icon-ok" target="_blank" title="Мы на Одноклассниках"></a>
						{{/if}}                   
					</div>
				</div>
				<div class="left">
					<h2>Вызвать мастера</h2>
					<div id="anketa">
						<form method="post" action="/sendact" >
							<label for="d[0]">Ваше имя: <span>(обязательно)</span></label>
							<input type="text" maxlength="100" value="" name="your-name" id="d[0]">

							<label for="d[1]">Ваш телефон: <span>(обязательно)</span></label>
							<input type="text" maxlength="100" value="" name="your-tel" id="d[1]">
							<label for="d[1]">Удобное время звонка:</label>
							<input type="text" maxlength="100" value="" name="your-time" id="d[1]">


							<input type="submit" value="Отправить">
						</form>
					</div>
				</div>

				<div class="cleaner"></div>
			</div>

			<div class="site-counters">
				<div class="copy">© 2014 - 2016 Частный мастер</div>
			
				<div class="counters">
					
				</div>
				<div class="cleaner"></div>
			</div>
		</footer>
	</div>
</body>
</html>